.board-cell {
    display:flex;
    width : 15px;
    height : 15px;
    position: relative;
    justify-content: center;
}

.big-go-board {
    background-color : #DCB35C;
    display:grid;
    grid-template-columns : repeat(13,auto);
    justify-items:center;
}
.board-row > * {
    flex : 1;
}
.cross-vert-top {
    background-color : black;
    width : 1.5px;
    height : 50%;
    position:absolute;
    left : 50%;
}

.cross-vert-bottom {
    background-color : black;
    width : 1.5px;
    height : 50%;
    position:absolute;
    left : 50%;
    top : 50%;
}


.cross-hori-left {
    background-color : black;
    width : 50%;
    height : 1.5px;
    position:absolute;
    right : 50%;
    top : 50%;
}

.cross-hori-right {
    background-color : black;
    width : 50%;
    height : 1.5px;
    position:absolute;
    left : 50%;
    top : 50%;
}

.board-cell-edge {
    display : grid;
}

.board-cell-edge.Left {
    grid-template-columns : 1fr auto;
}

.board-cell-edge.Right {
    grid-template-columns :auto 1fr;
}


.middle-dot {
    background-color: black;
    width : 1.5px;
    height : 1.5px;
    top : 50%;
    left : 50%;
    position : absolute;
}

.handicap-dot {
    background-color: black;
    width : 1.5px;
    height : 1.5px;
    left : 50%;
    top : 50%;
    transform:scaleX(2) scaleY(2);
    transform-origin: center;
    position : absolute;
}

.number-board{
    font-size:.4rem;
    text-align:center;
    font-weight: 600;
    color : #3e3e3e;
    justify-self : stretch;
    align-self : bottom;
}

.number-board.number-right {
    grid-column: 2/3;
    display : flex;
    align-items : center;
    padding-right : 2.5px;
    justify-content : center;
}

.number-board.number-left {
    padding-left :2.5px;
    justify-content : center;
}
.number-board.number-bottom.Left {
    grid-column : 2/3;
}
.number-board.number-top.Left {
    grid-column : 2/3;
}

.number-board.number-right.Top {
    grid-row : 2/2;
}

.board-cell-main.Left {
    justify-self :stretch;
}

.number-board {
    width : 100%;
}



.board-cell-main.Right {
    justify-self : stretch;
}
.board-cell.Right.Top {
    grid-row : 2/2;
}
.board-cell.Left.Top {
    grid-row : 2/2;
    grid-column :2/3;
}

.number-left {
    display : flex;
    align-items : center;
}

.number-board.number-top {
    grid-column : 1/2;
}

.number-board.number-bottom.Right {
    grid-column : 1/2;
    grid-row : 2/2;
}
.piece {
    height : 80%;
    width : 80%;
    top: 50%;
    left: 50%;
    position : absolute;
    border-radius : 50%;
    transform: translate(-50%, -50%);
}

.piece.white {
    background: hsla(0, 0%, 75%, 1);

    background: linear-gradient(90deg, hsla(0, 0%, 75%, 1) 0%, hsla(0, 0%, 95%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(0, 0%, 75%, 1) 0%, hsla(0, 0%, 95%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 75%, 1) 0%, hsla(0, 0%, 95%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BFBFBF", endColorstr="#F3F3F3", GradientType=1 );
} 

.piece.black {
    background: hsla(0, 0%, 9%, 1);

    background: linear-gradient(90deg, hsla(0, 0%, 9%, 1) 0%, hsla(0, 0%, 42%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(0, 0%, 9%, 1) 0%, hsla(0, 0%, 42%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 9%, 1) 0%, hsla(0, 0%, 42%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#181818", endColorstr="#6C6C6C", GradientType=1 );
}

.piece.transparent {
    opacity: 75%;
}